IMPORTING OUR LIBRARIES

In [ ]:
# Import panda library 
import pandas as pd
df = pd.read_csv("Autolib_dataset.csv")

LOADING OUR DATASET

In [ ]:
# view the data frame 
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

EXPLORING THE DATA

In [ ]:
# Display columns in the data set
df.columns.values.tolist()

['Address',
 'Cars',
 'Bluecar counter',
 'Utilib counter',
 'Utilib 1.4 counter',
 'Charge Slots',
 'Charging Status',
 'City',
 'Displayed comment',
 'ID',
 'Kind',
 'Geo point',
 'Postal code',
 'Public name',
 'Rental status',
 'Scheduled at',
 'Slots',
 'Station type',
 'Status',
 'Subscription status',
 'year',
 'month',
 'day',
 'hour',
 'minute']

DATA CLEANING

In [ ]:
# Count the numer of missing values 
import pandas as pd
df =pd.read_csv("Autolib_dataset.csv")
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
# Drop the column with missing values 
# Drop "Displayed Comment" column
import pandas as pd
df =pd.read_csv("Autolib_dataset.csv")
df.drop("Displayed comment", axis=1, inplace=True)

In [ ]:
 # Display dataset 
 df.head

<bound method NDFrame.head of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]>

In [ ]:
# Drop the column with missing values
# Drop "scheduled at" column  
import pandas as pd
df = pd.read_csv("Autolib_dataset.csv")
df.drop("Scheduled at", axis=1, inplace=True)

In [ ]:
# Display dataset after dropping "scheduled at" column
df.head

<bound method NDFrame.head of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]>

In [ ]:
import pandas as pd
df =pd.read_csv("Autolib_dataset.csv")
# Display column Bluecar counter
df1= pd.read_csv("Autolib_dataset.csv", usecols=['Bluecar counter'])
df1

      Bluecar counter
0                   0
1                   6
2                   3
3                   3
4                   3
...               ...
4995                2
4996                4
4997                1
4998                2
4999                4

[5000 rows x 1 columns]

In [ ]:
import pandas as pd 
df =pd.read_csv("Autolib_dataset.csv")
# Display column hour
df2=pd.read_csv("Autolib_dataset.csv", usecols=['hour'])
df2

      hour
0       11
1        7
2       20
3        4
4       17
...    ...
4995    11
4996    16
4997     7
4998    17
4999    10

[5000 rows x 1 columns]

In [5]:
# Change date time columnn to datetime type 
import pandas as pd
df = pd.read_csv("Autolib_dataset.csv")
Autolib_dataset.datetime = pd.to_datetime(Autolib_dataset.datetime)

NameError: ignored